:root {
    --primary-teal: #35A0B1;
    --primary-orange: #F4A15D;
    --priamry-black: #163D57;
    --primary-brown: #B6590D;

    --primary-gold: #F7AD00;

    --primary-gray: #3C3B3C;
    --primary-light-gray: #777778;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    text-decoration: none;
    list-style: none;
}

/* _________________________________________________________________ */
/* Basics */

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;


    font-size: 10px;
    color: var(--primary-gray);
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

a {
    color:var(--primary-gray);
    transition: all 500ms;
}

a:hover {
    color: var(--primary-gold);
}

img {
    height: 30rem;
}

/* _________________________________________________________________ */
/* TOOLS */




/* _________________________________________________________________ */
/* Structural Ultility */

.flex {
    display: flex;
}

.flex_end {
    justify-content: flex-end;
}

.flex_start {
    justify-content: flex-start;
}

.flex_justify_content {
    display: flex;
    justify-content: center;
}

.flex-align_item {
    display: flex;
    align-items: center;
}

.flex_centerXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* _________________________________________________________________ */
/* Decorative Ultility */

.overlay {
    height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.5);
}

.gold_text {
    color: var(--primary-gold);
}

.white_text {
    color: white;
}

.text_align_right {
    text-align: right;
}

.sub_heading {
    Font-Family: 'Montserrat', Sans-Serif;
    font-weight: 300;
    Font-Size: 1.5rem;
    letter-spacing: 0.5rem;
    color: white;
}

/* _________________________________________________________________ */
/* Animations */

.translate_negative_100_percent {
    transform: translateX(100%);
}
.make_element_top {
    z-index: 100;
}

/* _________________________________________________________________ */
/* All Section */

.SECTION {
    position: relative;
    width: 100%;
    box-shadow: 0 0 2.5rem 0.5rem black;
}

.grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "left_side right_side"
    ;
}

/* Main Columns */
.left_column {
    width: 10%
}

.mid_column {
    width: 80%;
    padding: 20rem 10rem;
}

.right_column {
    width: 10%;
}

.mid_column_container {
    width: 100%;
}


/* Sub columns */

.column_50 {
    width: 50%;
    margin: 5rem;
}

.column_70 {
    width: 70%;
}

.column_30 {
    width: 30%;
    margin: 5rem;
}


/* _________________________________________________________________ */
/* Header */

header {
    height: 100%;
    width: 100%;

    background-image: url(ultility-photos/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    z-index: 10;
}   

nav {
    width: 100%;
    position: sticky;
    z-index: 11;
    top: 0;
}

#header_main_container {
    position: relative;

    height: 100%;
    width: 100%;
}

#MAIN_landing_text {
    Font-Family: 'Poppins', Sans-Serif;
    font-weight: 500;
    line-height: 10rem;
    Font-Size: 20rem;
    color: white;

    margin: 2.5rem 0;
}

#header_logo {
    position: absolute;
    top: 5rem;
    left: 5rem;

    font-size: 2.5rem;
    font-family: 'poppins', sans-serif;
    letter-spacing: 1rem;
    color: white;
}

#header_nav {
    position: absolute;
    top: 5rem;
    right: 5rem;

    font-size: 3.5rem;
    color: white;
}

#header_left_info_section {
    position: absolute;
    
    width: 20rem;

    bottom: 5rem;
    left: 5rem;
}

#header_left_info_section h2 {
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
}

#header_left_info_section p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

#header_left_info_section_dashline {
    width: 50%;
    height: 0.2rem;

    margin: 1.5rem 0;

    background-color: white;
}

#header_nextsection {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    
    color: white;
    font-size: 3rem;
}

/* _________________________________________________________________ */
/* Section 2 */

#section_2 {
    background-color: white;
    z-index: 9;
}

#profile_image_container {
    width: 100%;
    margin: 10rem 0;
}

#profile_image {
    height: 40rem;
    border-radius: 50%;
    border: 1px solid var(--primary-gold);
    box-shadow: 0 0 9rem 5px var(--primary-gold);
}

.column_dashline_container {
    width: 100%;
    margin: 1rem 0;
}

.column_dashline {
    height: 0.3rem;
    width: 6rem;
    margin-bottom: 5rem;
    background-color: var(--primary-gray);
}

.introduction_content {
    padding: 0 10rem;
    margin-bottom: 12rem;
}

#introduction_section > * {
    text-align: center;
}

#about_me_section > * {
    text-align: center;
}

#section_2 p {
    Font-Family: 'Poppins', Sans-Serif;
    padding: 0 20%;
    Font-Size: 1.6rem;
    text-align: justify;
}

#section_2 h2 {
    Font-Family: 'Poppins', Sans-Serif;
    font-weight: 500;
    line-height: 10rem;
    Font-Size: 10rem;
    color: var(--primary-gray);

    margin: 5rem 0;
}

#section_2 h3 {
    Font-Family: 'Montserrat', Sans-Serif;
    font-weight: 300;
    Font-Size: 1.6rem;
    letter-spacing: 0.5rem;
    color: var(--primary-gray);
}


/* _________________________________________________________________ */
/* Section 3 */

#section_3 {
    display: flex;

    background-color: white;
    z-index: 8;
}

#section_3 img {
    margin: 2.5rem 0;
    border-radius: 2rem;
}

#EA_title_section {
    position: sticky;
    top: 0;
    width: 50%;
    height: 100vh;
}

.EA_title_section_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 500ms;
}



#EA_background_HIGHSCHOOL {
    background-image: url(ultility-photos/6.jpg);
    z-index: 1;
}

#EA_background_FRESHMEN {
    background-image: url(ultility-photos/2.jpg);
    z-index: 1;
    transform: translateX(100%);
}

#EA_background_SOPHOMORE {
    background-image: url(ultility-photos/8.jpg);
    z-index: 2;
    transform: translateX(100%);
}

#EA_background_JUNIOR {
    background-image: url(ultility-photos/4.jpg);
    z-index: 3;
    transform: translateX(100%);
}

#EA_background_SENIOR {
    background-image: url(ultility-photos/5.jpg);
    z-index: 4;
    transform: translateX(100%);
}

#EA_background_GAP-YEAR {
    background-image: url(ultility-photos/7.jpg);
    z-index: 5;
    transform: translateX(100%);
}

#EA_title_container {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    z-index: 10;
}

#EA_title_container h2 {
    position: relative;
    left: -0.5rem;

    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 10rem;
    line-height: 12rem;

    transition: all 500ms;
}

#EA_title_dashline {
    width: 25%;
    height: 0.3rem;

    background-color: white;
    margin: 2.5rem 0;

    transform-origin:bottom left;
    transition: all 500ms;
}

#all_grade_details_introduction {
    height: 100rem;
}

#all_grades_details {
    width: 50%;

    background-color: white;
    z-index: 10;
}


.grade_level_detail {
    margin-bottom: 15rem;
    overflow: hidden;
}


.EA_categories {
    display: flex;
    position: relative;

    overflow: hidden;

    transform: translateX(25%);
    opacity: 0;
    transition: 1000ms ease-in;

    margin-bottom: 5rem;
}

.EA_category_title_section {
    z-index: 2;
    width: 40%;
    background-color: white;
}

.EA_category_items_section {
    z-index: 1;
    width: 60%;

    transition: all 1000ms ease-in-out;
}

.EA_category_middle_line {
    position: absolute;
    top: 2rem;
    left: 40%;
    height: calc(100% - 2rem);
    width: 0.3rem;
    background-color: var(--primary-gray);

    transition: all 1000ms ease-in-out;
    transform-origin: top;
    z-index: 2;
}

.EA_category_items_inner_section {
    padding-left: 2rem;
}

.EA_category_title {
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-start;

    margin-top: 2rem;
    margin-bottom: 2.5rem;

    font-family: 'Poppins', sans-serif;
    padding: 0 1rem;
}

.EA_category_title_main_heading {
    color: var(--primary-gray);
    font-size: 2rem;
}

.EA_category_title_sub_heading {
    color: var(--primary-light-gray);
    font-size: 1.5rem;
}

.EA_category_items {
    display: flex;
    font-size: 1.5rem;

    transition: all 250ms ease-in-out;
}

.EA_category_items:hover {
    cursor: pointer;
    transform: translateX(5px);
}

.EA_category_items:hover > .EA_extra_content_arrow {
    opacity: 1;
    transform: translateX(-100%);
}

.EA_category_items:hover > .EA_extra_content_indicator {
    opacity: 0;
    transform: translateX(-100%);
}

.EA_category_items > * {
    color: var(--primary-gray);
    font-family: 'Poppins', sans-serif;
    
    padding: 0 0 0 1rem;
}

.EA_icon {
    margin-top: 0.5rem;
}

.EA_extra_content_arrow {
    opacity: 0;
    transition: all 500ms;
}

.EA_extra_content_indicator {
    color: var(--primary-gold);
    opacity: 1;
    transition: all 500ms;
}

.EA_category_number {
    width: 100%;
    text-align: right;
    font-size: 7.5rem;
    font-family: 'poppins', sans-serif;
    padding-right: 1rem;

    margin-right: 2rem;
}

.EA_category_item_extra_content {
    position: absolute;
    right: 0;

    width: 60%;

    padding: 2rem 3rem 2rem 3rem;

    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;

    transform: translateX(-100%);
    transition: all 1000ms;
}

.EA_extra_content_back_button {
    height: 5rem;
    width: 5rem;

    border-radius: 50%;
    background-color: var(--primary-gray);

    transition: all 500ms;
}

.EA_extra_content_back_button:hover {
    cursor: pointer;
    background-color: var(--primary-gold);
}

.EA_extra_content_header {
    color: var(--primary-gold);
    font-size: 2rem;
}

.EA_extra_content_subheader {
    color:var(--primary-light-gray);
    font-size: 1.5rem;

    margin-bottom: 2.5rem;
}

.EA_photo_caption > * {
    display: inline-block
}

.EA_view_full_image {
    transition: all 250ms ease-in-out;
}

.EA_view_full_image:hover {
    transform: translateX(5px);
    color: var(--primary-gold);
}

.EA_photo_caption > *{
    margin-right: 1rem;
}

#grade_11_ISHMUN img {
    height: 50rem;
}


/* _________________________________________________________________ */
/* Section 4 */

#section_4 {
    background-color: white;
    z-index: 7;
}

/* _________________________________________________________________ */
/* Section 5 */

#section_5 {
    background-color: white;
    z-index: 6;
}


@media only screen and (max-width: 1500px) {
    html {
        height: 100%;
        width: 100%;
        scroll-behavior: smooth;

        font-size: 7.5px;
    }

    h2 {
        Font-Family: 'Poppins', Sans-Serif;
        font-weight: 500;
        line-height: 10rem;
        Font-Size: 10rem;
        color: var(--primary-gray);
    
        margin: 2.5rem 0;
    }

    /* Section 2 ---------------------------------------*/

}


@media only screen and (max-width: 480px) {
    html {
        height: 100%;
        width: 100%;
        scroll-behavior: smooth;

        font-size: 6.5px;
    }

    #section_2 .grid_3 {
        display: grid;
        grid-template: 1fr / 1% 1fr 1%;
        grid-template-areas: 
            "left_side mid_side right_side"
        ;
    }

    .left_column {
        grid-area: left_side;
    }
    
    .mid_column {
        grid-area: mid_side;
        padding: 5rem 0 0 0;
    }
    
    .right_column {
        grid-area: right_side;
    }


    /* Section 2 ---------------------------------------*/
    #profile_image {
        height: 44rem;
        border-radius: 50%;
    }

    .introduction_content {
        padding: 0 0;
        margin-bottom: 12rem;
    }

    #section_2 p {
        Font-Family: 'Poppins', Sans-Serif;
        padding: 0 0;
        Font-Size: 2rem;
        text-align: justify;
    }


    /* Section 3 ---------------------------------------*/

    #section_3 {
        display: block;
    
        background-color: white;
        z-index: 8;
    }

    #section_3 img {
        height: 20rem;
        margin: 2.5rem 0;
        border-radius: 2rem;
    }

    #EA_title_section {
        display: none;
    }

    .EA_category_title_section {
        width: 30%;
    }
    
    .EA_category_items_section {
        width: 70%;
        padding-right: 10px;
    }

    .EA_category_middle_line {
        position: absolute;
        top: 2rem;
        left: 30%;
        height: calc(100% - 2rem);
        width: 0.3rem;
        background-color: var(--primary-gray);
    }

    .EA_category_item_extra_content {
        position: absolute;
        right: 5%;
    
        width: 60%;
    
        padding: 2rem 3rem 2rem 3rem;

    
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
    
        transform: translateX(-100%);
        transition: all 1000ms;
    }

    #EA_title_container h2 {
        font-size: 7.5rem;
    }

    #all_grades_details {
        width: 100%;
    
        background-color: white;
        z-index: 10;
    }

    .grade_level_detail {
        width: 100%;
        overflow: hidden;
    }
}